.hero-sec-main {
  position: relative;
  height: 100vh;
  background-image: url("../../public/assets/images/hero-banner4.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 0 20px;
  max-width: 800px;
}

.hero-text h1 {
  text-align: start;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-text strong {
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2rem;
  text-align: start;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #f1f1f1;
}

.hero-text p:last-child {
  margin-bottom: 0;
}

.business-transform {
  transition: text-decoration 0.3s ease;
}

.business-transform:hover {
  text-decoration: underline;
}

.hero-button {
  margin-top: 40px;
  margin-left: 10px;
}

.hero-button button {
  background-color: #ffd717;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button button:hover {
  background-color: #ffca00;
}

.no-wrap {
  display: flex;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.zoom-out {
  display: inline-block;
  animation: zoomOut 4s infinite;
}

@media (max-width: 575.98px) {
  .hero-text {
    padding: 0 10px;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-button {
    margin-top: 20px;
  }

  .hero-button button {
    padding: 8px 16px;
    font-size: 1rem;
  }
  .no-wrap {
    display: block !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-text {
    padding: 0 15px;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.1rem;
  }

  .hero-button {
    margin-top: 25px;
  }

  .hero-button button {
    padding: 9px 18px;
    font-size: 1.1rem;
  }
  .no-wrap {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-text {
    padding: 0 20px;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-button {
    margin-top: 30px;
  }

  .hero-button button {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .hero-text {
    padding: 0 20px;
  }

  .hero-text h1 {
    font-size: 3.5rem;
  }

  .hero-text p {
    font-size: 1.3rem;
  }

  .hero-button {
    margin-top: 35px;
  }

  .hero-button button {
    padding: 12px 24px;
    font-size: 1.3rem;
  }
}
